.button{
       display: flex;
       justify-content: space-evenly;
       height: 200px;
       width: 200px;
       margin: 10px;
}
#heading{
       text-align: center;
       font-family: fantasy;
}
